.forms {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 250px;
  background-color: rgb(240, 240, 240);
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
}
